/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

body {
  background: url(./assets/images/granite.png);
  font-family: 'Be Vietnam', sans-serif;
  margin-top: -1px;
}
.pink {
  color: #8A4182;
}